/* body */
.body {
  background-color: #ffffff;
  text-align: center;
  display: table;
  width: 100%;
  max-height: 600px;
}

/* about */
.body-about {
  display: flex;
  margin: 60px;
  height: 100vh;
}
.body-about-item {
  width: 50%;
  margin: 10px;
}
.body-about-left {
  position: relative;
}
.body-about-text {
  text-align: center;
}
.body-about-right {
  position: relative;
}
.body-about-img img {
  height: 500px;
  width: auto;
  object-fit: cover;
}

@media screen and (max-width: 1024px) {
  .body-about {
    display: block;
    height: 100vh;
  }
  .body-about-item {
    display: block;
    width: auto;
    top: 0;
  }
  .body-about-text {
    position: inherit;
    width: auto;
  }

  .body-about-right {
    position: relative;
    margin: 0;
  }

  .body-about-img img {
    object-fit: cover;
  }
}

/* works */
.body-works {
  display: flex;
  margin: 60px;
  height: 100vh;
}
.body-works-item {
  width: 50%;
  margin: 10px;
}
.body-works-left {
  position: relative;
}
.body-works-text {
  text-align: center;
}
.body-works-right {
  position: relative;
}
.body-works-img img {
  height: 500px;
  width: 100%;
  object-fit: cover;
}

@media screen and (max-width: 1024px) {
  .body-works {
    display: block;
    height: 100vh;
  }
  .body-works-item {
    display: block;
    width: auto;
    top: 0;
  }
  .body-works-left {
    position: relative;
    margin: 0%;
  }
  .body-works-text {
    position: inherit;
    width: auto;
  }

  .body-works-right {
    position: relative;
    margin: 0;
  }

  .body-works-img img {
    max-width: 100%;
    object-fit: cover;
  }
}

/* contact */
.body-contact {
  display: flex;
  margin: 60px;
  height: 100vh;
}
.body-contact-item {
  width: 50%;
  margin: 10px;
}
.body-contact-left {
  position: relative;
}
.body-contact-text {
  text-align: center;
}
.body-contact-right {
  position: relative;
}
.body-contact-img img {
  height: 500px;
  width: 100%;
  object-fit: cover;
}

@media screen and (max-width: 1024px) {
  .body-contact {
    display: block;
    height: 100vh;
  }
  .body-contact-item {
    display: block;
    width: auto;
    top: 0;
  }
  .body-contact-text {
    position: inherit;
    width: auto;
  }

  .body-contact-right {
    position: relative;
    margin: 0;
  }

  .body-contact-img img {
    object-fit: cover;
  }
}
